[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RGENERATE"]
	path = RGENERATE
	url = https://github.com/ecor/rgenerate
[submodule "RGENERATEPREC"]
	path = RGENERATEPREC
	url = https://github.com/ecor/rgenerateprec
[submodule "RMAWGEN"]
	path = RMAWGEN
	url = https://github.com/ecor/rmawgen
[submodule "blockmatrix"]
	path = blockmatrix
	url = https://github.com/ecor/blockmatrix
[submodule "boussinesq"]
	path = boussinesq
	url = https://github.com/cran/boussinesq
[submodule "geotopbricks"]
	path = geotopbricks
	url = https://github.com/ecor/geotopbricks
[submodule "lmomPi"]
	path = lmomPi
	url = https://github.com/ecor/lmompi
[submodule "rasterList"]
	path = rasterList
	url = https://github.com/ecor/rasterlist
[submodule "soilwater"]
	path = soilwater
	url = https://github.com/ecor/soilwater
