[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "blockmatrix"]
	path = blockmatrix
	url = https://github.com/ecor/blockmatrix
	shallow = true
	registered = true
[submodule "boussinesq"]
	path = boussinesq
	url = https://github.com/cran/boussinesq
	shallow = true
	registered = true
[submodule "geotopbricks"]
	path = geotopbricks
	url = https://github.com/ecor/geotopbricks
	shallow = true
	registered = true
[submodule "lmomPi"]
	path = lmomPi
	url = https://github.com/ecor/lmompi
	shallow = true
	registered = true
[submodule "rasterList"]
	path = rasterList
	url = https://github.com/ecor/rasterlist
	shallow = true
	registered = true
[submodule "RGENERATE"]
	path = RGENERATE
	url = https://github.com/ecor/rgenerate
	shallow = true
	registered = true
[submodule "RGENERATEPREC"]
	path = RGENERATEPREC
	url = https://github.com/ecor/rgenerateprec
	shallow = true
	registered = true
[submodule "RMAWGEN"]
	path = RMAWGEN
	url = https://github.com/ecor/rmawgen
	shallow = true
	registered = true
[submodule "soilwater"]
	path = soilwater
	url = https://github.com/ecor/soilwater
	shallow = true
	registered = true
